<div class="gennavbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "gennavbar-wagon-brand" do %>
    <%= image_tag "logo.svg" %>
  <% end %>
  <!-- Right Navigation -->
  <div class="gennavbar-wagon-right hidden-xs hidden-sm">
    <!-- links -->
    <div class="gennavbar-wagon-item">
      <%= link_to 'About', about_path, class:"navbar-wagon-link" %>
    </div>
    <div class="gennavbar-wagon-item">
      <%= link_to 'Contact', contacts_new_path, class:"gennavbar-wagon-link" %>
    </div>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="gennavbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right gennavbar-wagon-dropdown-menu">
        <li><%= link_to 'About', about_path, class:"navbar-wagon-link" %></li>
        <li><%= link_to 'Contact', contacts_new_path, class:"gennavbar-wagon-link" %></li>
      </ul>
    </div>
  </div>
</div>

